<mat-card *ngIf="product">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="product.description != ''; else noDescription">
      <b>Descripción:</b> {{ product.description }}
    </div>
    <ng-template #noDescription><b>¡Sin Descripción!</b></ng-template>
    <div><b>Stock:</b> {{ product.stock }}</div>
    <div><b>Precio</b> {{ product.price | currency }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addToShoppingCart()" mat-icon-button>
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
    <button (click)="deleteFromShoppingCart()" mat-icon-button>
      <i class="fa-solid fa-circle-minus"></i>
    </button>
    <button (click)="setupEdition()" mat-icon-button>
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </mat-card-actions>
</mat-card>
