form {
  width: 100%;
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card {
  width: 50%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 16px;
  margin-bottom: 16px;
}
