<form [formGroup]="customerForm" (submit)="submitTransactions()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Datos del Cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Cédula</mat-label>
        <input maxlength="15" formControlName="id" matInput placeholder="1010038910" />
        <mat-hint>Ingresa tu cédula</mat-hint>
        <mat-error>{{ customerIdError }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput placeholder="Laurent Chaverra" />
        <mat-hint>Ingresa tu nombre</mat-hint>
        <mat-error>Este campo es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input formControlName="address" matInput placeholder="Kra 114A #76-23" />
        <mat-hint>Ingresa tu dirección</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="ldmckkb@gmail.com" />
        <mat-hint>Ingresa tu email</mat-hint>
        <mat-error>El email no es valido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input formControlName="phone" matInput placeholder="ldmckkb@gmail.com" />
        <mat-hint>Ingresa tu teléfono</mat-hint>
        <mat-error>El numero no es valido</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-flat-button color="accent">Concretar Compra</button>
    </mat-card-actions>
  </mat-card>
</form>
